.borderbottom {
    border-bottom:1px solid black;
}
.profilepic{
    width:120px;
    vertical-align:middle;
    margin-right:10px;
    float:left;
}
.userinfo{
    min-width:400px;
    max-width:620px;
    float:left;
}
#projectsholder{
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
    width:365px; 
    border:1px solid black;
    float:left;
}
.projectStartEnd {
    float:left; 
    border-right:1px solid black;
    padding:5px;
}
.daysleft{
    float:left;
    padding:5px;
    width:45%;
    height:45px;
    vertical-align:middle;
}
.textCenter{
    text-align:center;
}