SELECT, INPUT[type="text"] {
    width: 160px;
    box-sizing: border-box;
}
SECTION {
    padding: 8px;
    background-color: #f0f0f0;
    overflow: auto;
}
SECTION > DIV {
    float: left;
    padding: 4px;
}
SECTION > DIV + DIV {
    width: 40px;
    text-align: center;
}

.project_holder {
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
    width:365px; 
    border:1px solid black;
    float:left;
    min-height:100px;
}
.project_headder {
    width: 182px;
}
.text_padding {
    padding-right:10px;
    padding-left:10px;
}